<div class="auth-container">
    <h2>{{ isLoginMode ? 'Iniciar Sesión' : 'Crear Cuenta' }}</h2>

    <form (ngSubmit)="onSubmit()">
        <input type="email" name="email" [(ngModel)]="email" placeholder="Email" required>

        <input type="password" name="pwd" [(ngModel)]="pwd" placeholder="Contraseña" required>

        <input *ngIf="!isLoginMode" type="password" name="pwd2" [(ngModel)]="pwd2" placeholder="Repetir Contraseña"
            required>

        <button type="submit">{{ isLoginMode ? 'Entrar' : 'Registrarse' }}</button>
    </form>

    <p *ngIf="mensaje">{{ mensaje }}</p>

    <a (click)="toggleMode()">
        {{ isLoginMode ? '¿No tienes cuenta? Regístrate aquí' : '¿Ya tienes cuenta? Entra aquí' }}
    </a>
</div>