/* Hace que el cursor sea una mano en los elementos con clic */
button,
span {
    cursor: pointer;
    transition: color 0.2s;
}

/* Opcional: un efecto visual al pasar el ratón*/
span:hover {
    color: #007bff; /* Cambia a azul al pasar el ratón */
    text-decoration: underline;
}

li {
    margin-top: 5px;
}